/* Seleciona TODOS os elementos da página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Corpo da página */
body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 80px;
  background:   #c2c1c4;
}

/* Container principal */
.container {
  background: transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: none;
  text-align: center;
  width: 350px;
  transition: none;
}

/* Remove o efeito de aumento */
.container:hover {
  transform: none;
}

/* Título */
h2 {
  color: #1100ff;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}
.title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
}

/* Área principal */
main {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Campo de entrada */
input {
  width: 100%;
  padding: 13px;
  border: 1px solid #d5d0e5;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  background: #fff;
  color: #555;
  text-align: left;
  transition: 0.2s;
}

/* Placeholder */
input::placeholder {
  color: #777;
}

/* Input selecionado */
input:focus {
  background: #fff;
  border-color: #aaa;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

/* Botão */
button {
  background: #075bea;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

/* Botão ao passar o mouse */
button:hover {
  background: #004dcc;
  transform: none;
}

.resultado{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}
/* Lista de informações do clima */
ul {
  list-style: none;
  margin-top: 15px;
  padding: 0;
  width: 100%;
}

/* Itens da lista */
li {
  background: #fff;
  color: #444;
  padding: 12px 15px;
  margin-bottom: 8px;
  border-radius: 6px;
  font-size: 15px;
  text-align: left;
  border: 1px solid #e2deeb;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

/* Primeiro item da lista */
li:first-child {
  margin-top: 5px;
}

/* Efeito ao passar o mouse */
li:hover {
  background: #f8f7ff;
  border-color: #075bea;
  transition: 0.2s;
}
